.div{
    width: 70px;
    height: 70px;
    color: white;
}
.div1{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}
.div2{
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;

}
.div3{
    background-color: green;
    position: absolute;
    bottom: 0px;
    left: 0px;

}
.div4{
    background-color: yellow;
    position: absolute;
    bottom: 0px;
    right: 0px;

}